@model Diplom2.Models.Collection
@{
    ViewData["Title"] = "Edit Collection";
}
@section Links{
<link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/css/fileinput.css" media="all" rel="stylesheet" type="text/css" />
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" media="all" rel="stylesheet" type="text/css" />
}

<form method="post" enctype="multipart/form-data" asp-route-id="@Model.CollectionId">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="collectionName">Name:</label>
        <div class="col-sm-6">
            <input class="form-control" id="collectionName" value="@Model.CollectionName" type="text" name="collectionName" required />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="shortDescription">Short description:</label>
        <div class="col-sm-6">
            <textarea id="shortDescription" class="form-control" maxlength=255 rows="3" name="shortDescription" required>@Model.ShortDescription</textarea>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label" for="theme">Theme:</label>
        <div class="col-sm-6">
            <select class="form-control" name="theme" id="theme" size="1" required>
                <option></option>
                @foreach (var theme in ViewBag.Themes)
                {
                    if (theme.ThemeName == Model.Theme)
                    {
                        <option selected value="@theme.ThemeName">@theme.ThemeName</option>
                    }
                    else
                    {
                        <option value="@theme.ThemeName">@theme.ThemeName</option>
                    }
                }
            </select>
        </div>
    </div>
    <div class="main-section">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label" for="uploadImage">Upload image</label>
            <div class=" file-loading">
                <input id="file-1" name="file" type="file" class="file" data-overwrite-initial="false" data-min-file-count="1">
            </div>
            <div style="width: 200px; height: 200px;">
                <img src="@Model.PhotoURL" class="rounded float-left img-thumbnail">
            </div>
        </div>
    </div>
    <div class="form-group">
        <div>Add your fields:</div>
    </div>
    <div class="parent" id="number" data-countoffields=@Model.Numbers.Count() data-curfieldnameid=@Model.Numbers.Count()>
        <div class="form-group">
            <a class="btn btn-primary" onclick="return addField(this)" href="#">Add number field</a>
        </div>
        <div id="parentId">
            @foreach(var number in Model.Numbers)
            {
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="Number_@number.Id">Field number</label>
                    <div class="col-sm-6">
                        <input required class="form-control" value="@number.Name" id="Number_@number.Id" name="Number_@number.Id" type="text"/>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="parent" id="line" data-countoffields=@Model.Lines.Count() data-curfieldnameid=@Model.Lines.Count()>
        <div class="form-group">
            <a class="btn btn-primary" onclick="return addField(this)" href="#">Add string field</a>
        </div>
        <div id="parentId">
            @foreach(var line in Model.Lines)
            {
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="Line_@line.Id">Field number</label>
                    <div class="col-sm-6">
                        <input required class="form-control" value="@line.Name" id="Line_@line.Id" name="Line_@line.Id" type="text"/>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="parent" id="text" data-countoffields=@Model.Texts.Count() data-curfieldnameid=@Model.Texts.Count()>
        <div class="form-group">
            <a class="btn btn-primary" onclick="return addField(this)" href="#">Add text field</a>
        </div>
        <div id="parentId">
            @foreach(var text in Model.Texts)
            {
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="Text_@text.Id">Field number</label>
                    <div class="col-sm-6">
                        <input required class="form-control" value="@text.Name" id="Text_@text.Id" name="Text_@text.Id" type="text"/>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="parent" id="date" data-countoffields=@Model.Dates.Count() data-curfieldnameid=@Model.Dates.Count()>
        <div class="form-group">
            <a class="btn btn-primary" onclick="return addField(this)" href="#">Add date field</a>
        </div>
        <div id="parentId">
            @foreach(var date in Model.Dates)
            {
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="Date_@date.Id">Field number</label>
                    <div class="col-sm-6">
                        <input required class="form-control" value="@date.Name" id="Date_@date.Id" name="Date_@date.Id" type="text"/>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="parent" id="logical" data-countoffields=@Model.Logicals.Count() data-curfieldnameid=@Model.Logicals.Count()>
        <div class="form-group">
            <a class="btn btn-primary" onclick="return addField(this)" href="#">Add boolean field</a>
        </div>
        <div id="parentId">
            @foreach(var logical in Model.Logicals)
            {
                <div class="row form-group">
                    <label class="col-sm-2 col-form-label" for="Logical_@logical.Id">Field number</label>
                    <div class="col-sm-6">
                        <input required class="form-control" value="@logical.Name" id="Logical_@logical.Id" name="Logical_@logical.Id" type="text"/>
                    </div>
                </div>
            }
        </div>
    </div>
    <div class="form-group">
        <button class="btn btn-success" type="submit" id="submit">Edit collection</button>
    </div>
</form>

@section Scripts{
    <script>
    var maxFieldLimit = 3;

    function deleteField(a){
        var divparent = a.closest(".parent");
        var countOfFields = divparent.dataset.countoffields;
        var curFieldNameId = divparent.dataset.curfieldnameid;
        var contDiv = a.parentNode;

        contDiv.parentNode.removeChild(contDiv);

        countOfFields--;
        divparent.dataset.countoffields = countOfFields;
        curFieldNameId--;
        divparent.dataset.curfieldnameid = curFieldNameId;
        return false;
    };

    function addField(a){
        var divparent = a.closest(".parent");
        var divparentid = divparent.querySelector("#parentId");
        var name = divparent.id;
        var countOfFields = divparent.dataset.countoffields;
        var curFieldNameId = divparent.dataset.curfieldnameid;

        if (countOfFields >= maxFieldLimit) {
        alert("Maximum field = " + maxFieldLimit);
        return false;
        }

        countOfFields++;
        divparent.dataset.countoffields = countOfFields;

        curFieldNameId++;
        divparent.dataset.curfieldnameid = curFieldNameId;

        var div = document.createElement("div");
        div.classList.add("row", "form-group");
         div.innerHTML = '<label class="col-sm-2 col-form-label" for="' + name+ '_' + curFieldNameId + '">Field '+ name +'</label><div class="col-sm-6"><input required class="form-control" id="' + name+ '_' + curFieldNameId + '" name="'+ name+ '_' + curFieldNameId + '" type="text"/></div><a onclick="return deleteField(this)" href="#">Delete</a>';

        divparentid.appendChild(div);
        return false;
    }
</script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/js/fileinput.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.7/themes/fa/theme.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js" type="text/javascript"></script>
<script>
    $("#file-1").fileinput({
    theme: 'fa',
    uploadUrl: '#',
    allowedFileExtensions: ['jpg', 'png', 'gif'],
    overwriteInitial: false,
    maxFileSize:3000,
    maxFilesNum: 1,
    slugCallback: function (filename) {
    return filename.replace('(', '_').replace(']', '_');
    }
    });
</script>

}