@model Diplom2.Models.Item
@{
    ViewData["Title"] = @Localizer["Title"].Value.ToString() + "-" + @Model.ItemId;
}
<form method="post"asp-action="DeleteItem" asp-route-id="@Model.ItemId">
    <div class="row">
    <h2>@Localizer["Title"].Value.ToString() @Model.ItemName</h2>
    </div>
    <div class="row">
    <button class="btn btn-danger" type="submit">@Localizer["Button-Delete"]</button> 
    </div>
</form>
