@using Diplom2.Models
@model ApplicationUser
@{
    ViewData["Title"] = @Localizer["Title"].Value.ToString() + " " + @Model.UserName;
}

<h2>@Localizer["Title"] @Model.UserName ?</h2>
<form method="post" asp-action="DeleteUser" asp-route-id="@Model.Id">
    <div class="row">
    <button class="btn btn-danger" type="submit">@Localizer["Button-Delete"]</button> 
    </div>
</form>