@using Diplom2.ViewModels
@model IEnumerable<AdminIndexView>
@{
    ViewData["Title"] = @Localizer["Title"];
}
<div class="mb-3">
    <a class="btn btn-primary" asp-action="AddTheme">@Localizer["Button-add-theme"]</a>
<a class="btn btn-primary" asp-action="RemoveTheme">@Localizer["Button-remove-theme"]</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>@Localizer["Table-name"]</th>
            <th>Email</th>
            <th>@Localizer["Table-status"]</th>
            <th>@Localizer["Table-role"]</th>
            <th>@Localizer["Table-collections"]</th>
            <th>@Localizer["Table-link"]</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in @Model)
        {
            <tr>
                <th >@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @if(user.Status == true)
                    {
                        <a class="btn btn-success btn-block" asp-controller="Admin" asp-action="UnlockUser" asp-route-id="@user.Id">@Localizer["Button-unlock"]</a>
                    }
                    else
                    {
                        <a class="btn btn-secondary btn-block" asp-controller="Admin" asp-action="LockUser" asp-route-id="@user.Id">@Localizer["Button-lock"]</a>
                    }
                    <a class="btn btn-danger btn-block" asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id">@Localizer["Button-delete"]</a>
                </td>
                <td>
                    @foreach(var role in user.Role)
                    {
                        <div>@role</div>
                    }
                    
                     <a class="btn btn-success btn-block" asp-controller="Admin" asp-action="AddRole" asp-route-id="@user.Id">@Localizer["Button-role"]</a>
                </td>
                <td>@user.QuantityCollectionsUser</td>
                <td>
                    <a asp-controller="Collections" asp-action="Index" asp-route-id="@user.Id">@Localizer["Button-link"]</a>
                </td>
            </tr>
        }
    </tbody>
</table>

