@using Diplom2.ViewModels
@model IEnumerable<AdminIndexView>
@{
    ViewData["Title"] = "Admin panel";
}
<div class="mb-3">
    <a class="btn btn-primary" asp-action="AddTheme">Add new theme collections</a>
<a class="btn btn-primary" asp-action="RemoveTheme">Remove theme collections</a>
</div>

<table class="table">
    <thead>
        <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Email</th>
            <th>Status</th>
            <th>Role</th>
            <th>Quantity collections</th>
            <th>Link collections user</th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in @Model)
        {
            <tr>
                <th >@user.Id</th>
                <td>@user.Name</td>
                <td>@user.Email</td>
                <td>
                    @if(user.Status == true)
                    {
                        <a class="btn btn-success btn-block" asp-controller="Admin" asp-action="UnlockUser" asp-route-id="@user.Id">Unblock</a>
                    }
                    else
                    {
                        <a class="btn btn-secondary btn-block" asp-controller="Admin" asp-action="LockUser" asp-route-id="@user.Id">Lock</a>
                    }
                    <a class="btn btn-danger btn-block" asp-controller="Admin" asp-action="Delete" asp-route-id="@user.Id">Delete</a>
                </td>
                <td>
                    @foreach(var role in user.Role)
                    {
                        <div>@role</div>
                    }
                    
                     <a class="btn btn-success btn-block" asp-controller="Admin" asp-action="AddRole" asp-route-id="@user.Id">Add/Remove</a>
                </td>
                <td>@user.QuantityCollectionsUser</td>
                <td>
                    <a asp-controller="Collections" asp-action="Index" asp-route-id="@user.Id">Collection user</a>
                </td>
            </tr>
        }
    </tbody>
</table>

